<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIYE_BASE_URL</key>
	<string>$(AIYE_BASE_URL)</string>
	<key>AIYE_ALLOW_INSECURE_HTTPS</key>
	<string>$(AIYE_ALLOW_INSECURE_HTTPS)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
